@use '../../styles/media' as *;

.my-record-page {
  @include maxWidthContent;
  &__button {
    @include maxWidthContent;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }
}
