@use '../../styles/media' as *;

.my-exercise {
  margin-bottom: 3rem;
  background-color: var(--color-dark-500);
  padding: 1rem 1.5rem;
  &__top {
    display: flex;
    align-items: center;
    p {
      &:first-child {
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.15000000596046448px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--color-white);
        white-space: pre-wrap;
        width: 96px;
      }

      &:last-child {
        font-family: Inter;
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.10999999940395355px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--color-white);
      }
    }
  }

  &__body {
    margin-top: 8px;
    max-height: 192px;
    overflow: auto;
    padding-right: 2rem;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-primary-300);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-primary-300);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--color-gray-400);
      border-radius: 10px;
    }

    &__dup-item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 0.5rem;
      column-gap: 2rem;

      @include mobile {
        grid-template-columns: 1fr;
        row-gap: 0.5rem;
      }

      &__item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 3px;
        border-bottom: 1px solid var(--color-gray-400);
        position: relative;
        padding-left: 1.5rem;

        &::before {
          content: '';
          position: absolute;
          top: 6px;
          left: 0;
          display: block;
          width: 7px;
          height: 7px;
          background-color: var(--color-white);
          z-index: 1;
          border-radius: 8px;
        }

        &__left {
          p {
            &:first-child {
              font-family: Hiragino Kaku Gothic Pro;
              font-size: 15px;
              font-weight: 300;
              line-height: 22px;
              letter-spacing: 0.07500000298023224px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: var(--color-white);
            }

            &:last-child {
              font-family: Inter;
              font-size: 15px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0.07500000298023224px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: var(--color-primary-300);
            }
          }
        }

        > p {
          font-family: Inter;
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0.09000000357627869px;
          text-align: right;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--color-primary-300);
        }
      }
    }
  }
}
