.error-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  > button {
    background: var(--color-primary-400);
    color: var(--color-white);
  }
}
