@use '../../styles/media' as *;

.recommended {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
  column-gap: 2rem;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    padding: 0 1rem;
    column-gap: 2rem;
  }
  @include mobile {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    padding: 0 1rem;
  }

  &__block {
    background-color: var(--color-dark-600);
    padding: 1.5rem 1.25rem;

    p {
      &:first-child {
        font-family: Inter;
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.10999999940395355px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--color-primary-300);

        &::after {
          content: '';
          width: 56px;
          height: 1px;
          display: block;
          background-color: var(--color-white);
          margin: 7.5px auto;
        }
      }

      &:last-child {
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--color-white);
      }
    }
  }
}
