@font-face {
  font-family: 'Hiragino Kaku Gothic Pro';
  src: local('Hiragino Kaku Gothic Pro'),
    url('./assets/fonts/Hiragino Kaku Gothic Pro W3.otf');
}
:root {
  font-family: Hiragino Kaku Gothic Pro, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-white: #fff;
  --color-primary-300: #ffcc21;
  --color-primary-400: #ff963c;
  --color-primary-500: #ea6c00;
  --color-secondary-300: #8fe9d0;
  --color-dark-600: #2e2e2e;
  --color-dark-500: #414141;
  --color-gray-400: #777777;
}
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
